<h1>Posts</h1>
<h3>새 포스트 작성</h3>
<%= form_for [:admin, @post] do |f| %>
<div>
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>
<div>
	<%= f.label :body %>
	<%= f.text_area :body %>
</div>
<div>
	<%= f.submit "올리기", :class=> 'btn'%>
</div>

<% end %>